* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  background-color: #123;
  padding: 15px;
  border-radius: 15px;
}

#result {
  width: 180px;
  height: 50px;
  margin: 5px;
  text-align: right;
}
#operator {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
}
